.banner img {
  width: 100%;
  height: 100%;
}

.welcome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a56905;
}

.welcome-container h2 {
  font-size: 4vh;
  font-weight: 600;
  font-family: "lexendbold";
  align-self: flex-start;
}

.welcome-container h3 {
  font-size: 3vh;
  font-weight: 600;
  font-family: "lexendmedium";
}

.area-btns-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.area-btns-container .btn {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #81b29a;
  width: 10vw;
  height: 10vh;
  padding: 15px;
  margin-top: 20px;
  border-radius: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.area-btns-container .btn a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 2.5vh;
  font-weight: 600;
  font-family: "lexendbold";
}

.area-btns-container .btn a p {
  margin: 0;
  margin-top: 15px;
}
