.profile {
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #a56905;
    font-size: 2.2vh;
}

.profile-container h2 {
    font-size: 4vh;
    font-weight: 600;
    font-family: "lexendbold";
    align-self: flex-start;
}


.info-container {
    margin-top: 2vh;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #a56905;
    font-size: 2.2vh;
}

.profile-icon img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.contact-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #a56905;
    font-size: 2.2vh;
}

.outputs-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 2.2vh;
    font-weight: 600;
    font-family: "lexendbold";
    align-self: flex-start;
}

output {
    width: 40%;
    height: 2vh;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "lexendregular";
}

.profile-options button {
    margin-top: 4vh;
    width: 100%;
    min-height: 50px;
    font-family: "lexendbold";
    border-radius: 10px;
    border: 0 solid;
    background-color: #81b29a;
    color: #fff;
    font-size: 2vh;
    cursor: pointer;
}

.admin-options {
    margin-top: 2vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-options h3 {
    align-self: flex-start;
}

.admin-options button {
    margin-bottom: 4vh;
    width: 70%;
    min-height: 50px;
    font-family: "lexendbold";
    border-radius: 10px;
    border: 0 solid;
    background-color: #81b29a;
    color: #fff;
    font-size: 2vh;
    cursor: pointer;
}