.table {
    margin-top: 5vh;
    margin-bottom: 5vh;
    min-width: 80vw;
    width: 100%;
    height: 100%;
    border: 2px #81b29a solid;
    text-align: center;
    border-collapse: collapse;
}


.table thead tr {
    background-color: #81b29a;
    color: #fff;
    font-family: "lexendbold";
    font-size: 2.5vh;
}

.table thead tr i {
    font-size: 2vh;
    cursor: pointer;
}

.table th {
    padding: 1.5vh;
}

.table td {
    padding: 1.5vh;
    border-bottom: 2px #81b29a solid;
    font-family: "lexendregular";
    font-size: 1.8vh;
}

.table td button {
    margin: 5px;
    width: 120px;
    height: 30px;
    background-color: #81b29a;
    color: #fff;
    border: 0 solid;
    border-radius: 10px;
    font-family: "lexendbold";
    font-size: 1.5vh;
    cursor: pointer;
}

.table .eliminarBtn {
    width: 35px;
    height: 35px;
    background-color: #873e2a;
}

.table .modificarBtn {
    width: 35px;
    height: 35px;
    background-color: #4a54ad;
}

.table .DetalleBtn {
    width: 35px;
    height: 35px;
    background-color: #38726f;
}